/* Importing fonts */

@font-face {
  font-family: "Young Serif Regular";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

@font-face {
  font-family: "Outfit SemiBold";
  src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf");
}

@font-face {
  font-family: "Outfit Regular";
  src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf");
}

@font-face {
  font-family: "Outfit Bold";
  src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf");
}

/* Establishing Font Presets and Variables */

.text-preset-one {
  font-family: "Young Serif Regular";
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-two {
  font-family: "Young Serif Regular";
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-three {
  font-family: "Outfit SemiBold";
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}

.text-preset-four {
  font-family: "Outfit Regular";
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-four-bold {
  font-family: "Outfit Bold";
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

:root {
  /* Spacing */
  --spacing1: 8px;
  --spacing2: 12px;
  --spacing3: 16px;
  --spacing4: 24px;
  --spacing5: 32px;
  --spacing6: 40px;
  --spacing7: 48px;
  --spacing8: 128px;
  /* Colors */
  --rose-800: rgb(122, 40, 78);
  --rose-50: rgb(255, 247, 251);
  --stone-900: rgb(49, 46, 44);
  --stone-600: rgb(95, 86, 77);
  --stone-150: rgb(227, 221, 215);
  --stone-100: rgb(243, 229, 215);
  --brown-800: rgb(133, 70, 50);
  --white: rgb(255, 255, 255);
  /* Border Radius */
  --border-radius1: 12px;
  --border-radius2: 24px;
}

/* Styling */

* {
  border: 0;
  margin: 0;
  word-wrap: break-word;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  background-color: var(--stone-100);
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

/* the line between each main section */

hr {
  height: 1px;
  background-color: var(--stone-150);
}

/* Cover Photo */

.cover-photo-container {
  height: 171px;
  width: 100%;
  overflow: hidden;
}

.cover-photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

/* Article Proper */

article {
  display: flex;
  flex-direction: column;
  padding: var(--spacing6) var(--spacing5);
  row-gap: var(--spacing5);
}

/* Title and description */

header {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing4);
}

.title {
  color: var(--stone-900);
}

.blurb {
  color: var(--stone-600);
}

/* General Styling */

/* Bullet for list */
ul li {
  display: flex;
  list-style-type: none;
}

ul li::before {
  content: "•";
  align-self: center;
  padding-right: var(--spacing4);
}

/* Preparation Time Section */

.preparation-time-section {
  display: flex;
  flex-direction: column;
  padding: var(--spacing4);
  row-gap: var(--spacing3);
  border-radius: var(--border-radius1);
  background-color: var(--rose-50);
}

.preparation-time-section h3 {
  color: var(--rose-800);
}

.preparation-time-section ul {
  padding-left: var(--spacing1);
}

.preparation-time-section li::before {
  font-family: "Outfit Bold";
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--rose-800);
}

.preparation-time-section span {
  flex-wrap: wrap;
  color: var(--stone-600);
}

.preparation-time-section strong::after {
  content: ": ";
  font-family: "Outfit Regular";
}

/* General Styling of Main Sections */

.main-section {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing4);
}

.main-section h2 {
  color: var(--brown-800);
}

.main-section ol,
ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing1);
  padding-left: var(--spacing1);
}

.main-section li {
  color: var(--stone-600);
}

.main-section ul li::before {
  font-family: "Outfit Bold";
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--rose-800);
}

.main-section ol li {
  list-style-position: inside;
}

.main-section ol li::marker {
  font-family: "Outfit Bold";
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--rose-800);
}

.main-section ol li::before {
  content: "";
  padding-right: var(--spacing3);
}

.main-section strong::after {
  content: ": ";
  font-family: "Outfit Regular";
}

.main-section table {
  border-collapse: collapse;
}
.main-section table tr td {
  padding: var(--spacing2) 0px;
}
.main-section table tr:first-child td {
  padding-top: 0px;
}
.main-section table tr:last-child td {
  padding-bottom: 0px;
}

.main-section table tr + tr td {
  border-top: 1px;
  border-style: solid;
  border-color: var(--stone-150);
}

.main-section table .label {
  color: var(--stone-600);
}
.main-section table .value {
  color: var(--brown-800);
}

/* Tablet View Styling */

@media (min-width: 768px) {
  main {
    max-width: 615px;
    row-gap: var(--spacing6);
    padding: var(--spacing6);
    border-radius: var(--border-radius2);
  }

  .cover-photo-container {
    height: 300px;
    border-radius: var(--border-radius1);
  }

  article {
    padding: 0px;
  }
}

/* Desktop View Styling */

@media (min-width: 1024px) {
  main {
    max-width: 763px;
  }
}

/* Frontend Mentor Links as Footer */

footer {
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
